.footer__column-link_type_vk {
  padding-left: 26px;
  background-image: url(../../../../images/vk_color_white.svg);
  background-size: 16px 16px;
  background-position: top left;
  background-repeat: no-repeat;
}
